@import url('bootstrap/css/bootstrap.css'); 
@import url('bootstrap/css/bootstrap-responsive.css'); 

*{
	margin:0;
	padding:0;
}

body{
}

p,pre{
	
	overflow:hidden;
}

cite{
	font-style:inherit;
}
	
ul,ol,li{
	list-style:none;
}

hr{
	margin-top:20px;
}

a{
	text-decoration:none;
	color:black;
}

a:hover{
	color:blue;
}

#clear{
	clear:both;
}
/**
 * 
 *header
 * -------------------------------------------------------------------------
 **/
#page{
	width:100%;
	height:auto;
	font-family:"Microsoft YaHei";
}



.search-button{
	background: transparent;
	position:relative;
	right:30px;
	cursor:pointer;
	outline:none;
	border:none;
}


/**
 * 
 * content
 * -------------------------------------------------------------------------
 **/

.content-area{
	width:80%;
	margin-left:5%;
	margin-top:3%;
	float:left;
}

.article{
	margin-bottom:50px;
	padding:20px;
	border:1px solid #e1e1e1;
}

.content{
	width:inherit;
}

.readmore{
	float:right;	
}


.title{;

}

.post_date{
	margin-bottom:30px;
	margin-top:20px;
	width:200px;
}



/**
 * comments
 *
 * -------------------------------------------------------------------------
/*

.comment{
	width:inherit
	margin-left:inherit;
	margin-bottom:50px;
	}

.comment_author{
}

.comment_content{
}

.comment_date{
}
**/
#comments,.parent{
	padding:20px;
	border:1px solid #e1e1e1;
}

.comment-list .children {

}

.comments-title{
	margin-bottom:50px;
}

.comment-meta{
	float:right;
	font-size:5px;
}

.comment-meta + p{
	margin-top:50px;
}

.comment-author{
	width:50%;
}

.reply{
	margin-top:20px;
}

.reply a{
	color:blue;
}

.comment-body{
	border:1px solid #e1e1e1;
	padding:20px;
	margin-bottom:30px;
}

#comment-form{
	width:inherit;
	height:500px;
}

.comment-form label {
	display: block;
}


.comment-form input[type="text"],
.comment-form input[type="email"],
.comment-form input[type="url"] {
	width: 50%;
	margin-bottom:10px;
}

.says {
	display: none;
}




/**
 * 
 *single
 * -------------------------------------------------------------------------
 **/
.single-content-area{
        width:800px;
}

/**
 * 
 *sidebar
 * -------------------------------------------------------------------------
 **/
#sidebar{
	width:100%;
	margin:3% 0 0 0;
	padding:2%;
	border:1px solid #e1e1e1;
}

.pagenav{
	display:none;
}







/**
 * 
 * footer
 * -------------------------------------------------------------------------
 **/
.footer{
	width:100%;
	height:50px;
	background: #363b3f;
	text-align:center;
	
}

.footer p{
	color:white;
	position:relative;
	top:10%;

}
