@import url('bootstrap/css/bootstrap.css'); 
@import url('bootstrap/css/bootstrap-responsive.css'); 

*{
	margin:0;
	padding:0;
}

body{
}

p,pre{
	
	overflow:hidden;
}

cite{
	font-style:inherit;
}
	
ul,ol,li{
	list-style:none;
}

hr{
	margin-top:20px;
}

a{
	text-decoration:none;
	color:black;
}

a:hover{
	color:blue;
}

.inline-block{
	display:inline-block;
}

#clear{
	clear:both;
}
/**
 * 
 *header
 * -------------------------------------------------------------------------
 **/
#page{
	width:100%;
	height:auto;
	font-family:"Microsoft YaHei";
}



.search-button{
	background: transparent;
	position:absolute;
	right:5%;
        top:10%;
	cursor:pointer;
	outline:none;
	border:none;
}

#follow{
	margin:1.5% 2.5% 0 0 ;	
}

.social-icon{
	width:40px;
	height:40px;
	background-color:#fff;
	background-image:url("img/social.png");
	transition:transform 1s;
}

.social-icon:hover{
	background-color:#FDDADA;
	transform:rotate(-60deg);
	-ms-transform: rotate(-60deg);		/* IE 9 */
	-webkit-transform: rotate(-60deg);	/* Safari and Chrome */
	-o-transform: rotate(-60deg);		/* Opera */
	-moz-transform: rotate(-60deg);		/* Firefox */
}

.github{
	background-position: -160px 40px;
	transform: rotate(-30deg);
	-ms-transform: rotate(-30deg);		/* IE 9 */
	-webkit-transform: rotate(-30deg);	/* Safari and Chrome */
	-o-transform: rotate(-30deg);		/* Opera */
	-moz-transform: rotate(-30deg);		/* Firefox */
}

.weibo{
	background-position: -160px 0;
	transform: rotate(30deg);
	-ms-transform: rotate(30deg);		/* IE 9 */
	-webkit-transform: rotate(30deg);	/* Safari and Chrome */
	-o-transform: rotate(30deg);		/* Opera */
	-moz-transform: rotate(30deg);		/* Firefox */
}

.twitter{
	background-position: 0 0;
	transform: rotate(60deg);
	-ms-transform: rotate(60deg);		/* IE 9 */
	-webkit-transform: rotate(60deg);	/* Safari and Chrome */
	-o-transform: rotate(60deg);		/* Opera */
	-moz-transform: rotate(60deg);		/* Firefox */
}

.douban{
	background-position: -40px 40px;
	transform: rotate(-30deg);
	-ms-transform: rotate(-30deg);		/* IE 9 */
	-webkit-transform: rotate(-30deg);	/* Safari and Chrome */
	-o-transform: rotate(-30deg);		/* Opera */
	-moz-transform: rotate(30deg);		/* Firefox */
}
/**
 * 
 * content
 * -------------------------------------------------------------------------
 **/

.content-area{
	width:60%;
	margin-left:5%;
	margin-top:3%;
	display:inline-block;
        *zoom:1;
        *display:inline;
}

.article{
	margin-bottom:50px;
	padding:20px;
	border:1px solid #e1e1e1;
}

.content{
	width:inherit;
}

.readmore{
	float:right;	
}


.title{;

}

.post_date{
	margin-bottom:30px;
	margin-top:20px;
	width:200px;
}



/**
 * comments
 *
 * -------------------------------------------------------------------------
/*

**/
#comments,.parent{
	padding:20px;
	border:1px solid #e1e1e1;
}

.comment-list .children {

}

.comments-title{
	margin-bottom:50px;
}

.comment-meta{
	float:right;
	font-size:5px;
}

.comment-meta + p{
	margin-top:50px;
}

.comment-author{
	width:50%;
}

.reply{
	margin-top:20px;
}

.reply a{
	color:blue;
}

.comment-body{
	border:1px solid #e1e1e1;
	padding:20px;
	margin-bottom:30px;
}

#comment-form{
	width:inherit;
	height:500px;
}

.comment-form label {
	display: block;
}


.comment-form input[type="text"],
.comment-form input[type="email"],
.comment-form input[type="url"] {
	width: 50%;
	margin-bottom:10px;
}

.says {
	display: none;
}

.comment-form-comment #comment {
        width:60%;
}


.form-submit #submit {
 display: inline-block;
padding: 4px 12px;
margin-bottom: 0;
font-size: 14px;
line-height: 20px;
color: #333333;
text-align: center;
text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
vertical-align: middle;
cursor: pointer;
background-color: #f5f5f5;
background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
background-repeat: repeat-x;
border: 1px solid #cccccc;
border-color: #e6e6e6 #e6e6e6 #bfbfbf;
border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
border-bottom-color: #b3b3b3;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

/**
 * 
 *single
 * -------------------------------------------------------------------------
 **/
.single-content-area{
        width:800px;
}

/**
 * 
 *sidebar
 * -------------------------------------------------------------------------
 **/
#sidebar{
	width:20%;
	margin:3% 0 0 5%;
	padding:2%;
	border:1px solid #e1e1e1;
        display:inline-block;
        vertical-align: top;
        *zoom:1;
        *display:inline;
}

.pagenav{
	display:none;
}







/**
 * 
 * footer
 * -------------------------------------------------------------------------
 **/
.footer{
	width:100%;
	height:50px;
	background: #363b3f;
	text-align:center;
	
}

.footer p{
	color:white;
	position:relative;
	top:10%;

}
